<h3>+ Add Employee</h3>
<mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="newEmployee.id" placeholder="ENETER ID" disabled>
  </mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="newEmployee.name" placeholder="Enter name">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Organization ID</mat-label>
  <input matInput type="number" [(ngModel)]="newEmployee.organizationId" placeholder="Enter Org ID">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Department ID</mat-label>
  <input matInput type="number" [(ngModel)]="newEmployee.departmentId" placeholder="Enter Dept ID">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Salary ID</mat-label>
  <input matInput type="number" [(ngModel)]="newEmployee.salaryId" placeholder="Enter Salary ID">
</mat-form-field>
<button mat-raised-button color="primary" (click)="addEmployee()">Add Employee</button>
<button mat-raised-button color="warn" routerLink="/employee">Cancel</button>